<div class='container'>
  <div class='row'>
    <div class='col-xs-12'>
      <div class='input-group'>
        <input class='form-control' close-text='Close' date-disabled='disabled(date, mode)' datepicker-options='dateOptions' is-open='status.openedStart' max-date='maxDate' min-date='minDate' ng-model='selectedStartDate' ng-required='true' type='text' uib-datepicker-popup=''>
        <span class='input-group-btn'>
          <button class='btn btn-default' ng-click='openStart($event)' type='button'>
            <i class='glyphicon glyphicon-calendar'></i>
          </button>
        </span>
      </div>
      <div class='input-group'>
        <input class='form-control' close-text='Close' date-disabled='disabled(date, mode)' datepicker-options='dateOptions' is-open='status.openedEnd' max-date='maxDate' min-date='minDate' ng-model='selectedEndDate' ng-required='true' type='text' uib-datepicker-popup=''>
        <span class='input-group-btn'>
          <button class='btn btn-default' ng-click='openEnd($event)' type='button'>
            <i class='glyphicon glyphicon-calendar'></i>
          </button>
        </span>
      </div>
      <table class='table table-bordered'>
        <thead>
          <tr>
            <th>
              Data
            </th>
            <th>
              Pacjent
            </th>
            <th>
              Akcje
            </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat='visit in visits'>
            <td>
              <a ui-sref='doctor-visits-show({visitId: visit.id})'>
                {{visit.dateOfVisit | date: 'dd-MM-yyyy H:m'}}
              </a>
            </td>
            <td>
              <a ui-sref='doctor-visits-show({visitId: visit.id})'>
                {{visit.idPatient}}
              </a>
            </td>
            <td>
              <a class='btn btn-danger' ng-click='removeVisit(visit.id)'>
                Usuń
              </a>
              <a class='btn btn-primary' ui-sref='doctor-visits-edit({visitId: visit.id})'>
                Edytuj
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
