.container
  .row
    .col-xs-12
      %ul.list-group
        %li.list-group-item.active
          Dane pacjenta
        %li.list-group-item
          Imię i nazwisko: {{visit.patientView.name}} {{visit.patientView.surname}}
        %li.list-group-item
          Pesel: {{visit.patientView.id}}
        %li.list-group-item
          Data urodzenia: {{visit.patientView.dateOfBirth | date: 'dd-MM-yyyy'}}
        %li.list-group-item
          Miejsce zamieszkania: {{visit.patientView.countryCode}} {{visit.patientView.city}} {{visit.patientView.street}} {{visit.patientView.homeNr}}
      %ul.list-group
        %li.list-group-item.active
          Diagnoza
        %li.list-group-item
          %textarea.form-control{:'rows' => '10', :'ng-model' => 'doc.description'}
      %ul.list-group
        %li.list-group-item.active
          Dokumenty
          {{docActive}}
        %li.list-group-item{:'ng-click' => 'docActive = prescription'}
          Recepta
          %div.form-horizontal{:'ng-if' => 'docActive == prescription'}
            .form-group
              %label.control-label.col-sm-2{:for => "first-name"} Imię:
              .col-sm-10
                %input#first-name.form-control{:placeholder => "Wpisz imię", :type => "text", :'ng-model' => 'user.firstName'}
            %button.btn.btn-primary{:'ng-click' => 'addPrescription()'}
              Dodaj receptę
        %li.list-group-item{:'ng-click' => 'docActive = prescription'}
          Zaświadczenie
          %div.form-horizontal{:'ng-if' => 'docActive == prescription'}
            .form-group
              %label.control-label.col-sm-2{:for => "first-name"} Imię:
              .col-sm-10
                %input#first-name.form-control{:placeholder => "Wpisz imię", :type => "text", :'ng-model' => 'user.firstName'}
            %button.btn.btn-primary{:'ng-click' => 'addCertificate()'}
              Dodaj zaświadczenie
      %button.btn.btn-primary{:'ng-click' => 'submit()'}
        Zapisz
