<div class='container'>
  <div class='row'>
    <div class='col-xs-12'>
      <ul class='list-group'>
        <li class='list-group-item active'>
          Dane pacjenta
        </li>
        <li class='list-group-item'>
          Imię i nazwisko: {{visit.patientView.name}} {{visit.patientView.surname}}
        </li>
        <li class='list-group-item'>
          Pesel: {{visit.patientView.id}}
        </li>
        <li class='list-group-item'>
          Data urodzenia: {{visit.patientView.dateOfBirth | date: 'dd-MM-yyyy'}}
        </li>
        <li class='list-group-item'>
          Miejsce zamieszkania: {{visit.patientView.countryCode}} {{visit.patientView.city}} {{visit.patientView.street}} {{visit.patientView.homeNr}}
        </li>
      </ul>
      <ul class='list-group'>
        <li class='list-group-item active'>
          Diagnoza
        </li>
        <li class='list-group-item'>
          <textarea class='form-control' ng-model='doc.description' rows='10'></textarea>
        </li>
      </ul>
      <ul class='list-group'>
        <li class='list-group-item active'>
          Dokumenty
          {{docActive}}
        </li>
        <li class='list-group-item' ng-click='docActive = prescription'>
          Recepta
          <div class='form-horizontal' ng-if='docActive == prescription'>
            <div class='form-group'>
              <label class='control-label col-sm-2' for='first-name'>Imię:</label>
              <div class='col-sm-10'>
                <input class='form-control' id='first-name' ng-model='user.firstName' placeholder='Wpisz imię' type='text'>
              </div>
            </div>
            <button class='btn btn-primary' ng-click='addPrescription()'>
              Dodaj receptę
            </button>
          </div>
        </li>
        <li class='list-group-item' ng-click='docActive = prescription'>
          Zaświadczenie
          <div class='form-horizontal' ng-if='docActive == prescription'>
            <div class='form-group'>
              <label class='control-label col-sm-2' for='first-name'>Imię:</label>
              <div class='col-sm-10'>
                <input class='form-control' id='first-name' ng-model='user.firstName' placeholder='Wpisz imię' type='text'>
              </div>
            </div>
            <button class='btn btn-primary' ng-click='addCertificate()'>
              Dodaj zaświadczenie
            </button>
          </div>
        </li>
      </ul>
      <button class='btn btn-primary' ng-click='submit()'>
        Zapisz
      </button>
    </div>
  </div>
</div>
