.container
  .row
    .col-xs-12
      %ul.list-group
        %li.list-group-item.active
          Imię i nazwisko
        %li.list-group-item
          {{doctor.name}} {{doctor.surname}}
      %ul.list-group
        %li.list-group-item.active
          Specializacje
        %li.list-group-item
          {{doctor.specialities}}
      %ul.list-group
        %li.list-group-item.active
          Adres E-mail
        %li.list-group-item
          {{doctor.email}}
      %ul.list-group
        %li.list-group-item.active
          Telefon
        %li.list-group-item
          {{doctor.phone}}
