.container
  .row
    .col-xs-12
      %ul.list-group
        %li.list-group-item.active
          Imię i nazwisko
        %li.list-group-item
          {{doctor.name}} {{doctor.surname}}
      %ul.list-group
        %li.list-group-item.active
          Specializacje
        %li.list-group-item{:'ng-repeat' => 'speciality in doctorSpecialities'}
          %span
            {{speciality.name}}
            %br
      %ul.list-group
        %li.list-group-item.active
          Adres E-mail
        %li.list-group-item
          {{doctor.email}}
