.container
  .row
    .col-xs-12
      panel administratora
      %a{:'ui-sref' => 'admin-doctors'}
        Lekarze
      %a{:'ui-sref' => 'admin-patients'}
        Pacjenci
      %a{:'ui-sref' => 'admin-receptionists'}
        Recepcjoniści
      %a{:'ui-sref' => 'admin-specialities'}
        Specializacje
      %a{:'ui-sref' => 'admin-visits'}
        Wizyty
      %a{:'ui-sref' => 'change-password'}
        Zmiana hasła
  .row
    .col-xs-6.col-sm-3.col-md-2.panel-image
      %img{:'src' => 'assets/img/doctors.jpg'}
    .col-xs-6.col-sm-3.col-md-2.panel-image
      %img{:'src' => 'assets/img/patients.jpg'}
    .col-xs-6.col-sm-3.col-md-2.panel-image
      %img{:'src' => 'assets/img/receptionists.jpg'}
    .col-xs-6.col-sm-3.col-md-2.panel-image
      %img{:'src' => 'assets/img/specialities.jpg'}
    .col-xs-6.col-sm-3.col-md-2.panel-image
      %img{:'src' => 'assets/img/visits.jpg'}
    .col-xs-6.col-sm-3.col-md-2.panel-image
      %a{:'ui-sref' => 'change-password'}
        %img{:'src' => 'assets/img/password.jpg'}
        %h4.text-center
          Zmień hasło
