.container
  .row
    .col-xs-12
      panel administratora
      %a{:'ui-sref' => 'admin-doctors'}
        Lekarze
      %a{:'ui-sref' => 'admin-patients'}
        Pacjenci
      %a{:'ui-sref' => 'admin-receptionists'}
        Recepcjoniści
      %a{:'ui-sref' => 'admin-specialities'}
        Specializacje
