.container
  .row
    .col-xs-12
      %a{:'ui-sref' => 'admin-receptionists-new'}
        dodaj recepcjonistę
      %table.table.table-bordered
        %thead
          %tr
            %th
              Imię
            %th
              Nazwisko
            %th
              Akcje
        %tbody
          %tr{:'ng-repeat' => 'receptionist in receptionists'}
            %td
              %a{:'ui-sref' => 'admin-receptionist-show({receptionistId: receptionist.id})'}
                {{receptionist.name}}
            %td
              %a{:'ui-sref' => 'admin-receptionist-show({receptionistId: receptionist.id})'}
                {{receptionist.surname}}
            %td
              %a.btn.btn-danger{:'ng-click' => 'remove(receptionist.id)'}
                Usuń
              %a.btn.btn-primary{:'ui-sref' => 'admin-receptionists-edit({receptionistId: receptionist.id})'}
                Edytuj
