<div class='container'>
  <div class='row'>
    <div class='col-xs-12'>
      <ul class='list-group'>
        <li class='list-group-item active'>
          Imię i nazwisko
        </li>
        <li class='list-group-item'>
          {{receptionist.name}} {{receptionist.surname}}
        </li>
      </ul>
      <ul class='list-group'>
        <li class='list-group-item active'>
          Telefon kontaktowy
        </li>
        <li class='list-group-item'>
          {{receptionist.phoneNr}}
        </li>
      </ul>
      <ul class='list-group'>
        <li class='list-group-item active'>
          E-mail
        </li>
        <li class='list-group-item'>
          {{receptionist.email}}
        </li>
      </ul>
    </div>
  </div>
</div>
