.container
  .row
    .col-xs-12
      %ul.list-group
        %li.list-group-item.active
          Specjalizacje
        %li.list-group-item{:'ng-repeat' => 'speciality in specialities'}
          {{speciality.name}}
