.container
  .row
    .col-xs-12
      %table.table.table-bordered
        %thead
          %tr
            %th
              Imię
            %th
              Nazwisko
            %th
              Akcje
        %tbody
          %tr{:'ng-repeat' => 'doctor in doctors'}
            %td
              %a{:'ui-sref' => 'admin-doctors-show({doctorId: doctor.id})'}
                {{doctor.name}}
            %td
              %a{:'ui-sref' => 'admin-doctors-show({doctorId: doctor.id})'}
                {{doctor.surname}}
            %td
              %a.btn.btn-danger{:'ng-click' => 'remove(doctor.id)'}
                Usuń
              %a.btn.btn-primary{:'ui-sref' => 'admin-doctors-edit({doctorId: doctor.id})'}
                Edytuj
              %a.btn.btn-primary{:'ui-sref' => 'admin-doctors-visits({doctorId: doctor.id})'}
                Wizyty
