<div class='container'>
  <div class='row'>
    <div class='col-xs-12'>
      <ul class='list-group'>
        <li class='list-group-item active'>
          Dane wizyty
        </li>
        <li class='list-group-item'>
          Data wizyty
        </li>
      </ul>
      <ul class='list-group'>
        <li class='list-group-item active'>
          Dane pacjenta
        </li>
        <li class='list-group-item'>
          Imię i nazwisko
        </li>
        <li class='list-group-item'>
          Pesel
        </li>
        <li class='list-group-item'>
          Data urodzenia
        </li>
        <li class='list-group-item'>
          Miejsce zamieszkania
        </li>
      </ul>
      <ul class='list-group'>
        <li class='list-group-item active'>
          Dane lekarza
        </li>
        <li class='list-group-item'>
          Imię i Nazwisko
        </li>
        <li class='list-group-item'>
          Specjalizacja
        </li>
      </ul>
    </div>
  </div>
</div>
