<div class='container'>
  <div class='row'>
    <div class='col-xs-12'>
      <ul class='list-group'>
        <li class='list-group-item active'>
          Dane wizyty
        </li>
        <li class='list-group-item'>
          Data wizyty: {{visit.visitView.dateOfVisit | date: 'dd-MM-yyyy H:mm'}}
        </li>
        <li class='list-group-item'>
          Specjalizacja: {{visit.visitView.specialization}}
        </li>
      </ul>
      <ul class='list-group'>
        <li class='list-group-item active'>
          Dane pacjenta
        </li>
        <li class='list-group-item'>
          Imię i nazwisko: {{visit.patientView.name}} {{visit.patientView.surname}}
        </li>
        <li class='list-group-item'>
          Pesel: {{visit.patientView.id}}
        </li>
        <li class='list-group-item'>
          Data urodzenia: {{visit.patientView.dateOfBirth | date: 'dd-MMMM-yyyy'}}
        </li>
        <li class='list-group-item'>
          Miejsce zamieszkania: {{visit.patientView.countryCodeCity}} {{visit.patientView.city}} {{visit.patientView.street}} {{visit.patientView.homeNr}}
        </li>
      </ul>
      <ul class='list-group'>
        <li class='list-group-item active'>
          Dane lekarza
        </li>
        <li class='list-group-item'>
          Imię i Nazwisko: {{visit.doctorView.name}} {{visit.doctorView.surname}}
        </li>
      </ul>
    </div>
  </div>
</div>
