.container
  .row
    .col-xs-12
      %a{:'ui-sref' => 'admin-visits-new'}
        dodaj wizytę
      .input-group
        %input.form-control{"close-text" => "Close", "date-disabled" => "disabled(date, mode)", "datepicker-options" => "dateOptions", "is-open" => "status.openedStart", "max-date" => "maxDate", "min-date" => "minDate", "ng-model" => "selectedStartDate", "ng-required" => "true", :type => "text", "uib-datepicker-popup" => ""}/
        %span.input-group-btn
          %button.btn.btn-default{"ng-click" => "openStart($event)", :type => "button"}
            %i.glyphicon.glyphicon-calendar
      .input-group
        %input.form-control{"close-text" => "Close", "date-disabled" => "disabled(date, mode)", "datepicker-options" => "dateOptions", "is-open" => "status.openedEnd", "max-date" => "maxDate", "min-date" => "minDate", "ng-model" => "selectedEndDate", "ng-required" => "true", :type => "text", "uib-datepicker-popup" => ""}/
        %span.input-group-btn
          %button.btn.btn-default{"ng-click" => "openEnd($event)", :type => "button"}
            %i.glyphicon.glyphicon-calendar
      %table.table.table-bordered
        %thead
          %tr
            %th
              Data
            %th
              Pacjent
            %th
              Lekarz
            %th
              Akcje
        %tbody
          %tr{:'ng-repeat' => 'visit in visits'}
            %td
              %a{:'ui-sref' => 'admin-visits-show({visitId: visit.id})'}
                {{visit.dateOfVisit | date: 'dd-MM-yyyy'}}
            %td
              %a{:'ui-sref' => 'admin-visits-show({visitId: visit.id})'}
                {{visit.idPatient}}
            %td
              %a{:'ui-sref' => 'admin-visits-show({visitId: visit.id})'}
                {{visit.name}} {{visit.surname}}
            %td
              %a.btn.btn-danger{:'ng-click' => 'removeVisit(visit.id)'}
                Usuń
