.container
  %form.form-horizontal{:role => "form", :'ng-submit' => 'submit()', :'form-validation' => ''}
    .form-group
      %label.control-label.col-sm-2{:for => "login"} Login:
      .col-sm-10
        %input#login.form-control{:placeholder => "Wpisz login", :type => "text", :'ng-model' => 'user.login'}
    .form-group
      %label.control-label.col-sm-2{:for => "password"} Hasło:
      .col-sm-10
        %input#password.form-control{:placeholder => "Wpisz hasło", :type => "text", :'ng-model' => 'user.password'}
    .form-group
      .col-sm-offset-2.col-sm-10
        %button.btn.btn-default{:type => "submit"} Zaloguj
