<div class='container'>
  <div class='row'>
    <div class='col-xs-12'>
      <a ui-sref='receptionist-doctors-new'>
        dodaj lekarza
      </a>
      <table class='table table-bordered'>
        <thead>
          <tr>
            <th>
              Imię
            </th>
            <th>
              Nazwisko
            </th>
            <th>
              Akcje
            </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat='doctor in doctors'>
            <td>
              <a ui-sref='receptionist-doctors-show({doctorId: doctor.id})'>
                {{doctor.name}}
              </a>
            </td>
            <td>
              <a ui-sref='receptionist-doctors-show({doctorId: doctor.id})'>
                {{doctor.surname}}
              </a>
            </td>
            <td>
              <a class='btn btn-primary' ui-sref='receptionist-doctors-visits({doctorId: doctor.id})'>
                Wizyty
              </a>
              <a class='btn btn-primary' ui-sref='receptionist-doctors-working-hours({doctorId: doctor.id})'>
                Dodaj godziny pracy
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
