.container
  .row
    .col-xs-12
      panel recepcjonisty
      %a{:'ui-sref' => 'receptionist-doctors'}
        Lekarze
      %a{:'ui-sref' => 'admin-patients'}
        Pacjenci
      %a{:'ui-sref' => 'admin-specialities'}
        Specializacje
      %a{:'ui-sref' => 'admin-visits'}
        Wizyty
      %a{:'ui-sref' => 'change-password'}
        Zmiana hasła
