.container
  .row
    .col-xs-12
      panel recepcjonisty
      %a{:'ui-sref' => 'receptionist-doctors'}
        Lekarze
      %a{:'ui-sref' => 'receptionist-patients'}
        Pacjenci
      %a{:'ui-sref' => 'receptionist-specialities'}
        Specializacje
      %a{:'ui-sref' => 'receptionist-visits'}
        Wizyty
