<div class='container'>
  <form>
    <div class='row'>
      <div class='col-xs-12'>
        <input ng-model='user.firstName' placeholder='Imię' type='text'>
      </div>
      <div class='col-xs-12'>
        <input ng-model='user.lastName' placeholder='Nazwisko' type='text'>
      </div>
      <div class='col-xs-12'>
        <input ng-model='user.pin' placeholder='Pesel' type='text'>
      </div>
      <div class='col-xs-12'>
        <input ng-model='user.password' placeholder='Hasło' type='password'>
      </div>
      <div class='col-xs-12'>
        <input ng-model='user.passwordConfirm' placeholder='Powtórz hasło' type='password'>
      </div>
      <div class='col-xs-12'>
        <date-select></date-select>
      </div>
      <div class='col-xs-12'>
        <input ng-model='user.city' placeholder='Miasto' type='text'>
      </div>
      <div class='col-xs-12'>
        <input ng-model='user.countyCode' placeholder='Kod pocztowy' type='text'>
      </div>
      <div class='col-xs-12'>
        <input ng-model='user.homeNumber' placeholder='Numer domu/mieszkania' type='text'>
      </div>
      <div class='col-xs-12'>
        <input ng-model='user.province' placeholder='Województwo' type='text'>
      </div>
      <div class='col-xs-12'>
        <input ng-model='user.country' placeholder='Państwo' type='text'>
      </div>
      <div class='col-xs-12'>
        <input ng-model='user.phone' placeholder='Telefon' type='text'>
      </div>
      <div class='col-xs-12'>
        <input ng-model='user.email' placeholder='E-mail' type='text'>
      </div>
      <div class='col-xs-12'>
        <input ng-model='user.passwordConfirm' placeholder='Powtórz hasło' type='text'>
      </div>
      <button type='submit'></button>
    </div>
  </form>
</div>
