<header></header>
<form class='search-visit' ng-submit='submit()'>
  <div class='container'>
    <div class='row'>
      <div class='col-xs-12 col-sm-6 col-md-3'>
        <select class='form-control' ng-change='updateDoctorsList()' ng-model='selectedSpeciality' ng-options='speciality.name as speciality.name for speciality in specialities'>
          <option value=''>
            Wybierz specjalizację
          </option>
        </select>
      </div>
      <div class='col-xs-12 col-sm-6 col-md-3'>
        <select class='form-control' ng-change='selectedDoctorId=doctor.id' ng-model='selectedDoctor' ng-options='doctor as doctor.name + " " + doctor.surname for doctor in doctors'>
          <option value=''>
            Wybierz lekarza
          </option>
        </select>
      </div>
      <div class='col-xs-12 col-sm-6 col-md-3'>
        <div class='input-group'>
          <input class='form-control' close-text='Close' date-disabled='disabled(date, mode)' datepicker-options='dateOptions' is-open='status.opened' max-date='maxDate' min-date='minDate' ng-model='selectedDate' ng-required='true' type='text' uib-datepicker-popup=''>
          <span class='input-group-btn'>
            <button class='btn btn-default' ng-click='open($event)' type='button'>
              <i class='glyphicon glyphicon-calendar'></i>
            </button>
          </span>
        </div>
      </div>
      <div class='col-xs-12 col-sm-6 col-md-3'>
        <button class='btn btn-default form-control' type='submit'>
          Wyszukaj
        </button>
      </div>
    </div>
  </div>
</form>
<div class='features-boxes'>
  <div class='container'>
    <div class='row'>
      <div class='col-xs-12 col-md-6 feature-box'>
        <img src='assets/img/services_icon.jpg'>
        <div class='feature-box-content'>
          <h2>
            Usługi
          </h2>
          <p>
            Oferujemy pełen wachlarz usług medycznych.
          </p>
        </div>
      </div>
      <div class='col-xs-12 col-md-6 feature-box'>
        <img src='assets/img/equipment_icon.jpg'>
        <div class='feature-box-content'>
          <h2>
            Wyposażenie
          </h2>
          <p>
            Posiadamy nowoczesną aparaturę medyczną.
          </p>
        </div>
      </div>
      <div class='col-xs-12 col-md-6 feature-box'>
        <img src='assets/img/team_icon.jpg'>
        <div class='feature-box-content'>
          <h2>
            Kadra
          </h2>
          <p>
            Pracują u nas wykwalifikowani specjaliści.
          </p>
        </div>
      </div>
      <div class='col-xs-12 col-md-6 feature-box'>
        <img src='assets/img/online_register_icon.jpg'>
        <div class='feature-box-content'>
          <h2>
            Rejestracja
          </h2>
          <p>
            Dysponujemy systemem do zapisu na wizyty<br>przez internet.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
