%header

%form.search-visit{:'ng-submit' => 'submit()'}
  .container
    .row
      .col-xs-12.col-sm-6.col-md-3
        %select.form-control{:'ng-options' => 'speciality.name as speciality.name for speciality in specialities', :'ng-model' => 'selectedSpeciality', :'ng-change' => 'updateDoctorsList()'}
          %option{:'value' => ''}
            Wybierz specjalizację
      .col-xs-12.col-sm-6.col-md-3
        %select.form-control{:'ng-options' => 'doctor as doctor.name + " " + doctor.surname for doctor in doctors', :'ng-model' => 'selectedDoctor', :'ng-change' => 'selectedDoctorId=doctor.id'}
          %option{:'value' => ''}
            Wybierz lekarza
      .col-xs-12.col-sm-6.col-md-3
        .input-group
          %input.form-control{"close-text" => "Close", "date-disabled" => "disabled(date, mode)", "datepicker-options" => "dateOptions", "is-open" => "status.opened", "max-date" => "maxDate", "min-date" => "minDate", "ng-model" => "selectedDate", "ng-required" => "true", :type => "text", "uib-datepicker-popup" => ""}/
          %span.input-group-btn
            %button.btn.btn-default{"ng-click" => "open($event)", :type => "button"}
              %i.glyphicon.glyphicon-calendar
      .col-xs-12.col-sm-6.col-md-3
        %button.btn.btn-default.form-control{:type => "submit"}
          Wyszukaj
.features-boxes
  .container
    .row
      .col-xs-12.col-md-6.feature-box
        %img{:src => "assets/img/services_icon.jpg"}
        .feature-box-content
          %h2
            Usługi
          %p
            Oferujemy pełen wachlarz usług medycznych.
      .col-xs-12.col-md-6.feature-box
        %img{:src => "assets/img/equipment_icon.jpg"}
        .feature-box-content
          %h2
            Wyposażenie
          %p
            Posiadamy nowoczesną aparaturę medyczną.
      .col-xs-12.col-md-6.feature-box
        %img{:src => "assets/img/team_icon.jpg"}
        .feature-box-content
          %h2
            Kadra
          %p
            Pracują u nas wykwalifikowani specjaliści.
      .col-xs-12.col-md-6.feature-box
        %img{:src => "assets/img/online_register_icon.jpg"}
        .feature-box-content
          %h2
            Rejestracja
          %p
            Dysponujemy systemem do zapisu na wizyty
            %br>
            przez internet.
