.container
  .row
    .col-xs-12
      %form.form-horizontal{:role => "form", :'ng-submit' => 'submit()', :'form-validation' => ''}
        .form-group
          %label.control-label.col-sm-2{:for => "id"} Identyfikator recepcjonisty:
          .col-sm-10
            %input#id.form-control{:placeholder => "Wpisz identyfikator", :type => "text", :'ng-model' => 'receptionist.id'}
        .form-group
          %label.control-label.col-sm-2{:for => "name"} Imię recepcjonisty:
          .col-sm-10
            %input#name.form-control{:placeholder => "Wpisz imię", :type => "text", :'ng-model' => 'receptionist.receptionist.name'}
        .form-group
          %label.control-label.col-sm-2{:for => "surname"} Nazwisko lekarza:
          .col-sm-10
            %input#surname.form-control{:placeholder => "Wpisz nazwisko", :type => "text", :'ng-model' => 'receptionist.receptionist.surname'}
        .form-group
          %label.control-label.col-sm-2{:for => "phone"} Telefon do recepcjonisty:
          .col-sm-10
            %input#phone.form-control{:placeholder => "Wpisz numer telefonu", :type => "text", :'ng-model' => 'receptionist.receptionist.phoneNr'}
        .form-group
          %label.control-label.col-sm-2{:for => "password"} Hasło:
          .col-sm-10
            %input#password.form-control{:placeholder => "Wpisz hasło", :type => "password", :'ng-model' => 'receptionist.password'}
        .form-group
          %label.control-label.col-sm-2{:for => "email"} E-mail:
          .col-sm-10
            %input#email.form-control{:placeholder => "Wpisz e-mail", :type => "email", :'ng-model' => 'receptionist.email'}
        .form-group
          .col-sm-offset-2.col-sm-10
            %button.btn.btn-default{:type => "submit"} Dodaj
