.container
  .row
    .col-xs-12
      panel pacjenta
      %a{:'ui-sref' => 'patient-account'}
        Moje konto
      %a{:'ui-sref' => 'change-password'}
        Zmiana hasła
      %a{:'ui-sref' => 'patient-planned-visits'}
        Planowane wizyty
      %a{:'ui-sref' => 'patient-done-visits'}
        Odbyte wizyty
