.container
  .row
    .col-xs-12
      %table.table.table-bordered
        %thead
          %tr
            %th
              Data
            %th
              Lekarz
            %th
              Akcje
        %tbody
          %tr{:'ng-repeat' => 'visit in visits'}
            %div{:'ng-if' => 'visit.status != "wolna"'}
              %td
                {{visit.dateOfVisit | date: 'dd-MM-yyyy HH:mm'}}
              %td
                {{visit.name}} {{visit.surname}}
              %td
                %button.btn.btn-danger{:'ng-click' => 'resign(visit.id)'}
                  Rezygnuj
